<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L-Connect - Logistics Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand fw-bold fs-4">L-Connect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item"><a class="nav-link">HOME</a></li>
                    <li class="nav-item">
                    <a class="nav-link" asp-controller="Services" asp-action="Index">SERVICES</a>
                </li>
                    <li class="nav-item"><a class="nav-link">BECOME A CLIENT</a></li>
                    <li class="nav-item"><a class="nav-link">ABOUT US</a></li>
                    <li class="nav-item">
                        
                        <a class="nav-link" asp-controller="Home" asp-action="Support">SUPPORT</a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="FAQ" >FAQ</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="btn nav-link" asp-controller="Account" asp-action="Login">Login/Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>